@model TabloidMVC.Models.ViewModels.PostDetailsViewModel
@{
    ViewData["Title"] = $"Comments - {@Model.Post.Title}";
}

<h1>Comments for Post: @Model.Post.Title</h1>

<p>
    <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Details">
        <button>Back To Post</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Commenter
            </th>
            <th>
                Comment Subject
            </th>
            <th>
                Comment Content
            </th>
            <th>
                Comment Added On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
@*                
        Leaving this here for future use, when author users are added to the app, and this will be refactored so that authors can only edit/delete their own comments. Commenting this out for now because all users can be treated as admins for the moment while we try to reach MVP.

                @if (Model.UserId == item.UserProfileId)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                } *@
        </tr>
}
    </tbody>
</table>
