@model TabloidMVC.Models.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = $"Post - {@Model.Post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                <button style="border: none; background-color: white;">
                    <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Create">
                        Add Comment
                    </a>
                </button>
                @if (Model.Comments.Count > 0)
                {
                    <button style="border: none; background-color: white;">
                        <a asp-controller="Comment" asp-action="Details" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Details">
                            View Comments
                        </a>
                    </button>
                }
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
        @if (Model.Comments.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Commenter
                        </th>
                        <th>
                            Comment Subject
                        </th>
                        <th>
                            Comment Content
                        </th>
                        <th>
                            Comment Added On
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                            @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDateTime)
                        </td>
                        <td>
                            <div>
                                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" title="Delete" style="border: none; background-color: none;"><button class="btn-danger btn">Delete?</button></a>
                            </div>
                            <div>
                                <a asp-controller="Comment" asp-action="Edit" asp-route-id="@item.Id" title="Edit" style="border: none; background-color: none;"><button class="btn-danger btn">Edit</button></a>
                            </div>
                        </td>
                        @*
                    Leaving this here for future use, when author users are added to the app, and this will be refactored so that authors can only edit/delete their own comments. Commenting this out for now because all users can be treated as admins for the moment while we try to reach MVP.

                    @if (Model.UserId == item.UserProfileId)
                    {
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                    } *@
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>